.App {
  margin: 0px;
  padding: 0px;
  display: block;
}


@font-face {
  font-family: 'Qeilab';
  src: url('./Fonts/Qeilab.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



